{% extends "include/header.html" %}
{% load static %}
{% load humanize %}
{% block title %}GASTOS POR PROYECTO{% endblock %}

{% block body %}


<div class="contenedor-2">
    <h3 class="titulo-contenedor"><strong>GASTOS MENSUALES</strong></h3>
    <h5 class="texto-contenedor mb-4">Aqui se muestra el avance transurrido en base a la fecha de inicio a la fecha de
        entrega.</h5>
    <hr class="mb-4">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-primary{% endif %} notifications">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <style>
        #contenedor-cards .col {
            transition: all 0.3s ease-in-out;
        }

        .card {
            /* Asegura que la tarjeta ocupe toda la altura disponible */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card {
            min-height: 300px;
            /* Ajusta según tu diseño */
        }

        .card-header {
            height: 120px;
            /* Mantén la altura que necesitas */
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            /* Opcional, para centrar el texto */
        }

        .card-title-contenedor-2,
        .card-subtitle-contenedor-2 {
            word-wrap: break-word;
            /* Permite que las palabras largas se ajusten */
            white-space: normal;
            /* Evita que el texto se quede en una sola línea */
        }

        .card-title-contenedor-2 {
            overflow: hidden;
            text-overflow: ellipsis;
            /* Opcional, agrega puntos suspensivos si es necesario */
        }
    </style>

    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-primary me-2" onclick="cambiarColumnas(3)">3 Cards</button>
        <button class="btn btn-primary" onclick="cambiarColumnas(4)">4 Cards</button>
    </div>
    <div id="contenedor-cards" class="row g-3">
        {% for proyecto in proyectos %}
        <div class="col-lg-4">
            <div class="card card-contenedor-2 mb-5">
                <form action="{% url 'D_Gastos' %}" method="POST" autocomplete="off" class="m-0 p-0">
                    <input type="hidden" value="{{proyecto.ID}}" name="id">
                    <input type="hidden" value="{{proyecto.Folio}}" name="folio">
                    <input type="hidden" value="{{proyecto.IDCliente_id__Nombre}}" name="cliente">
                    <input type="hidden" value="{{proyecto.Proyecto}}" name="proyecto">
                    <input type="hidden" value="{{proyecto.Descripcion}}" name="descripcion">
                    <button type="submit"
                        style="background: none; border: none; padding: 0; outline: none; width: 100%;">
                        {% csrf_token %}
                        <div class="card-header" style="height: 120px;">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title-contenedor-2"><strong>{{proyecto.Folio}}</strong></h5>
                                </div>
                                <div class="col-6">
                                    <h5 class="card-title-contenedor-2">
                                        <strong>{{proyecto.IDCliente_id__Nombre}}</strong>
                                    </h5>
                                </div>
                                <h5 class="card-subtitle-contenedor-2"><strong>{{proyecto.Proyecto}}</strong>
                                </h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="porcentajes"
                                        style="--porcentaje: {{proyecto.porcentaje_acumulado}}; --color: blue;">
                                        <svg width="120" height="120">
                                            <circle class="circleGrafica" r="40" cx="50%" cy="50%" pathlength="100" />
                                            <circle class="circleGrafica" r="40" cx="50%" cy="50%" pathlength="100" />
                                        </svg>
                                        <span id="{{ proyecto.Folio }}" style="font-size: 16px;"
                                            data-target="{{ proyecto.porcentaje_acumulado }}">0
                                            <label>%</label></span>
                                    </div>
                                    <h6 class="text-curso-proyecto"><strong>Dias totales:</strong><br>
                                        {{proyecto.DiasTotales}}</h6>
                                    <hr>
                                    <h6 class="text-curso-proyecto"><strong>Dias utilizados:</strong><br>
                                        {{proyecto.DiasRestantes}}
                                    </h6>
                                </div>
                                <div class="col-6">
                                    {% for monto in montoXProyecto %}
                                    {% if proyecto.ID == monto.IDProyecto_id %}
                                    <div class="porcentajes"
                                        style="--porcentaje: {{proyecto.porcentaje_gastos}}; --color: rgb(0, 160, 13);">
                                        <svg width="120" height="120">
                                            <circle class="circleGrafica" r="40" cx="50%" cy="50%" pathlength="100" />
                                            <circle class="circleGrafica" r="40" cx="50%" cy="50%" pathlength="100" />
                                        </svg>
                                        <span id="{{ proyecto.ID }}" style="font-size: 16px;"
                                            data-target="{{ proyecto.porcentaje_gastos|floatformat:0 }}">0
                                            <label>%</label></span>
                                    </div>

                                    <h6 class="text-curso-proyecto"><strong>Presupuesto:</strong><br>
                                        $ {{ proyecto.Presupuesto|floatformat:2|intcomma }} </h6>
                                    <hr>
                                    <h6 class="text-curso-proyecto"><strong>Gasto actual:</strong><br>
                                        $ {{proyecto.total_monto|floatformat:2|intcomma }}
                                    </h6>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-6">
                                    <h6 class="c2-fecha-inicio"><strong>Fecha inicio:</strong></h6>
                                    <p class="c2-fecha-inicio-bd">{{ proyecto.FechaInicio|date:"d/m/Y" }}</p>

                                </div>
                                <div class="col-6">
                                    <h6 class="c2-fecha-final"><strong>Fecha Final:</strong></h6>
                                    <p class="c2-fecha-final-bd">{{proyecto.Fechafinal|date:"d/m/Y" }}</p>
                                </div>
                            </div>
                            <label style="color: blue; text-decoration: underline; cursor: pointer;">Pulse aquí,
                                para ver mas detalles
                            </label>
                        </div>
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'GD_Proyecto' %}" method="POST" autocomplete="off">
                        {% csrf_token %}
                        <input type="hidden" name="areaTrabajo" value="2">
                        <div class="row mb-3">
                            <div class="col-4">
                                <label class="form-label"><b>PROYECTO *</b></label><br>
                                <select class="select2 form-select w-100" name="idProyecto" required>
                                    <option value="">Seleccione un proyecto</option>
                                    {% for data in selectProyecto %}
                                    <option value="{{data.ID}}">{{data.Folio }} - {{data.Proyecto}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-4">
                                <label class="form-label"><b>CATEGORIA *</b></label><br>
                                <select class="select2 form-select w-100" name="categoria" required>
                                    <option value="">Seleccione la categoria</option>
                                    {% for data in selectCategoria %}
                                    <option value="{{data.ID}}">{{data.Descripcion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-4">
                                <label class="form-label"><b>FORMA DE PAGO
                                        *</b></label><br>
                                <select class="select2 form-select w-100" name="pago" required>
                                    <option value="">Seleccione el pago</option>
                                    {% for data in selectPago %}
                                    <option value="{{data.ID}}">{{data.Descripcion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label"><input class="form-check-input" type="checkbox" value=""
                                        id="interesadoCheckbox" checked><b> FACTURA *</b></label>
                                <input type="text" class="form-control" placeholder="Ingrese la factura" name="factura"
                                    id="facturaInput" required autofocus>

                                <input type="hidden" name="factura" id="facturaHiddenInput" value="SF">
                            </div>
                            <div class="col-6">
                                <label class="form-label"><b>MONTO *</b></label>
                                <input type="text" class="form-control" placeholder="Ingrese el monto" name="monto"
                                    onkeyup="moneda(this);" onkeydown="return decimal(event, this)" required>
                            </div>
                        </div>

                        <div class=" mb-3">
                            <label class="form-label"><b>DESCRIPCIÓN *</b></label>
                            <input type="text" class="form-control" placeholder="Ingrese una breve descripción"
                                name="descripcion" required>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label"><b>PROVEEDOR *</b></label>
                                <input class="form-control" list="datalistOptions" name="proveedor"
                                    placeholder="Ingrese el proveedor" required>
                                <datalist id="datalistOptions">
                                    {% for proveedores in proveedor %}
                                    <option value="{{proveedores.Proveedor}}">
                                        {% endfor %}
                                </datalist>
                            </div>
                            <div class="col-6">
                                <label for="fechaFinal" class="form-label"><b>FECHA *</b></label>
                                <input type="date" class="form-control" value="{{ fecha_actual }}" name="fecha"
                                    required>
                            </div>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-primary" name="gastos">Guardar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="BotonAgregar1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="sign">+</div>
        <div class="text">AGREGAR GASTO</div>
    </button>
</div>
<script src="{% static 'assets/js/factura.js' %}"></script>
<script src="{% static 'assets/js/cards_dinamicos.js' %}"></script>
<script src="{% static 'assets/js/animated-value.js' %}"></script>
<script src="{% static 'assets/js/animated_porcentaje.js' %}"></script>
{% endblock %}