{% extends "include/header.html" %}
{% load static %}
{% load humanize %}
{% block title %}GASTOS POR PROYECTO{% endblock %}

{% block body %}
<div class="contenedor-tabla-alta">
    <h3 class="titulo-contenedor"><a href="{% url 'T_Inicio' %}"><i class="lni lni-chevron-left-circle"></i></a><strong>
            {{context.folio}} - {{context.proyecto}}</strong></h3>
    <h5><strong>{{context.cliente}}</strong></h5>
    <h5 class="texto-contenedor mb-4">{{context.descripcion}}</h5>
    <hr class="mb-4">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-primary{% endif %} notifications">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <div class="card card-contenido-alta">
        <h4><strong>Ver gastos registrados de este proyecto</strong></h4>
        <hr>
        <div class="table-responsive" style="max-width: 7000px; overflow-y: auto;">
            <table class="tabla_id table table-hover custom-hover">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>Forma de pago</th>
                        <th>Factura</th>
                        <th>Categoria</th>
                        <th>Descripción</th>
                        <th>Proveedor</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for datos in detalleProyecto %}
                    <tr>
                        <td>{{datos.Fecha|date:"d/m/Y" }}</td>
                        <td>${{datos.Monto|floatformat:2|intcomma }}</td>
                        <td>{{datos.IDFormaDePago_id__Descripcion}}</td>
                        <td>{{datos.Factura}}</td>
                        <td>{{datos.IDCategoria_id__Descripcion}}</td>
                        <td>{{datos.Descripcion}}</td>
                        <td>{{datos.Proveedor}}</td>
                        <td>
                            <form action="{% url 'ED_Proyecto' %}" method="POST" autocomplete="off">
                                {% csrf_token %}
                                <input type="hidden" value="{{datos.ID}}" name="id">
                                <input type="hidden" value="{{context.id}}" name="idProyecto">
                                <input type="hidden" value="{{context.folio}}" name="folio">
                                <input type="hidden" value="{{context.cliente}}" name="cliente">
                                <input type="hidden" value="{{context.proyecto}}" name="proyecto">
                                <input type="hidden" value="{{context.descripcion}}" name="descripcionProyecto">
                                <button class="btn btn-success">Editar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="contenedor-tabla-alta mt-3">
    <h3 class="titulo-contenedor"><strong>DETALLE DE GASTOS EN "CATEGORIA"</strong></h3>
    <hr class="mb-4">
    <div class="row">
        {% for datos in montoXCategoria %}
        {% if datos.IDProyecto_id|add:0 == context.id|add:0 %}
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="card card-contenedor-1 mb-5">
                <div class="card-body">
                    <h5 class="card-title-contenedor-1"><strong>{{ datos.IDCategoria_id__Descripcion }}</strong></h5>
                    <hr>
                    <p class="card-text-contenedor-1" id="{{datos.IDProyecto_id}}" data-end-value="">
                        ${{ datos.total_monto|floatformat:2|intcomma }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="contenedor-tabla-alta mt-3">
    <h3 class="titulo-contenedor"><strong>DETALLE DE GASTOS EN "FORMAS DE PAGO"</strong></h3>
    <hr class="mb-4">
    <div class="row">
        {% for datos in montoXPago %}
        {% if datos.IDProyecto_id|add:0 == context.id|add:0 %}
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="card card-contenedor-1 mb-5">
                <div class="card-body">
                    <h5 class="card-title-contenedor-1"><strong>{{ datos.IDFormaDePago_id__Descripcion }}</strong></h5>
                    <hr>
                    <p class="card-text-contenedor-1" id="{{datos.IDProyecto_id}}" data-end-value="">
                        ${{ datos.total_monto|floatformat:2|intcomma }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4><strong>Agregar gastos del proyecto</strong></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'GD_Proyecto' %}" method="POST" autocomplete="off">
                    <input type="hidden" value="{{context.id}}" name="idProyecto">
                    <input type="hidden" value="{{context.folio}}" name="folio">
                    <input type="hidden" value="{{context.cliente}}" name="cliente">
                    <input type="hidden" value="{{context.proyecto}}" name="proyecto">
                    <input type="hidden" value="{{context.descripcion}}" name="descripcionProyecto">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-6">
                            <label class="form-label"><b>CATEGORIA *</b></label>
                            <select class="select2 form-select" aria-label="Default select example" name="categoria"
                                required>
                                <option value="">Seleccione la categoria</option>
                                {% for data in selectCategoria %}
                                <option value="{{data.ID}}">{{data.Descripcion}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <label class="form-label"><b>FORMA DE PAGO *</b></label>
                            <select class="select2 form-select" aria-label="Default select example" name="pago"
                                required>
                                <option value="">Seleccione el pago</option>
                                {% for data in selectPago %}
                                <option value="{{data.ID}}">{{data.Descripcion}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label class="form-label"><input class="form-check-input" type="checkbox" value=""
                                    id="interesadoCheckbox" checked><b> FACTURA *</b></label>
                            <input type="text" class="form-control" placeholder="Ingrese la factura" name="factura"
                                id="facturaInput" required autofocus>

                            <input type="hidden" name="factura" id="facturaHiddenInput" value="SF">
                        </div>
                        <div class="col-6">
                            <label class="form-label"><b>MONTO *</b></label>
                            <input type="number" class="form-control" placeholder="Ingrese el monto" name="monto"
                                step="0.01" required>
                        </div>
                    </div>

                    <div class=" mb-3">
                        <label class="form-label"><b>DESCRIPCIÓN *</b></label>
                        <input type="text" class="form-control" placeholder="Ingrese una breve descripción"
                            name="descripcion" required>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label class="form-label"><b>PROVEEDOR *</b></label>
                            <input class="form-control" list="datalistOptions" name="proveedor"
                                placeholder="Ingrese el proveedor" required>
                            <datalist id="datalistOptions">
                                {% for proveedores in proveedor %}
                                <option value="{{proveedores.Proveedor}}">
                                    {% endfor %}
                            </datalist>
                        </div>
                        <div class="col-6">
                            <label for="fechaFinal" class="form-label"><b>FECHA *</b></label>
                            <input type="date" class="form-control" value="{{ fecha_actual }}" name="fecha" required>
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<button type="button" class="BotonAgregar1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <div class="sign">+</div>
    <div class="text">AGREGAR GASTO</div>
</button>


<script>
    const facturaInput = document.getElementById('facturaInput');
    const interesadoCheckbox = document.getElementById('interesadoCheckbox');
    const facturaHiddenInput = document.getElementById('facturaHiddenInput');

    // Función para habilitar/deshabilitar el campo de email
    function toggleEmailInput() {
        if (interesadoCheckbox.checked) {
            facturaInput.disabled = false;
            facturaHiddenInput.disabled = true; // Deshabilitar el campo oculto cuando el campo visible esté habilitado
        } else {
            facturaInput.disabled = true;
            facturaInput.value = 'SF'; // Limpia el campo si se deshabilita
            facturaHiddenInput.value = 'SF'; // Enviar un valor por defecto en el campo oculto
            facturaHiddenInput.disabled = false; // Habilitar el campo oculto cuando el campo visible esté deshabilitado
        }
    }

    // Escuchar cambios en el checkbox
    interesadoCheckbox.addEventListener('change', toggleEmailInput);

    // Llamada inicial para configurar el estado del input
    toggleEmailInput();
</script>

{% endblock %}